ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  height: auto;
  width: 100%;
}

.gallery {
  margin: 0 156px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-item {
  width: calc((100% - 48px) / 3);
}
